#{extends 'main.html' /} #{set title:'Pagina Inicial'/}
<style>
.parte03 h2 {
	text-align: center;
	margin-bottom: 32px;
}

#fi01 {
	background-color: white;
	padding: 30px;
}

.iconify { 
	width: 23px; 
	height: 23px; 
}
</style>
<body>
<h2>CONTATO</h2>
			<fieldset id="fi01">
				<p>Informações para entrar em contato:</p><br>
				<span class="iconify" data-icon="logos:google-gmail" data-inline="false"></span> G-mail: wenderson@escolar.ifrn.edu.br<br>
				<span class="iconify" data-icon="logos:google-gmail" data-inline="false"></span> G-mail: kaue@escolar.ifrn.edu.br<br><br>
				<span class="iconify" data-icon="logos:whatsapp" data-inline="false"></span> Whatsapp: (84) 98888-0000 - José Wenderson<br>
				<span class="iconify" data-icon="logos:whatsapp" data-inline="false"></span> Whatsapp: (84) 98888-1111 - Kauê Rebouças<br><br>
				<p>Em caso de criticas ou sugestões acesse a página de SUGESTÃO ao lado, onde terá um formulário<br> 
				que pode ser preenchido com informações e ao final um botão de envio. <br>
			Obrigado!</p>
			</fieldset>
</body>